In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
pd.set_option('display.max_columns', None)

In [2]:
%%javascript
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

In [ ]:
file = 'amazon-product-reviews-large.csv'
df = pd.read_csv(os.path.join("data/", file))
df.head()

# Remove redundant columns

In [4]:
df.columns

Index(['id', 'dateAdded', 'dateUpdated', 'name', 'asins', 'brand',
       'categories', 'primaryCategories', 'imageURLs', 'keys', 'manufacturer',
       'manufacturerNumber', 'reviews.date', 'reviews.dateSeen',
       'reviews.didPurchase', 'reviews.doRecommend', 'reviews.id',
       'reviews.numHelpful', 'reviews.rating', 'reviews.sourceURLs',
       'reviews.text', 'reviews.title', 'reviews.username', 'sourceURLs'],
      dtype='object')

In [5]:
cols = ['name', 'asins', 'categories', 'primaryCategories', 'imageURLs', 'manufacturer',
       'reviews.date','reviews.doRecommend', 'reviews.numHelpful', 'reviews.rating', 'reviews.sourceURLs',
       'reviews.text', 'reviews.title', 'reviews.username', 'sourceURLs']

In [6]:
df= df[cols]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28332 entries, 0 to 28331
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   name                 28332 non-null  object
 1   asins                28332 non-null  object
 2   categories           28332 non-null  object
 3   primaryCategories    28332 non-null  object
 4   imageURLs            28332 non-null  object
 5   manufacturer         28332 non-null  object
 6   reviews.date         28332 non-null  object
 7   reviews.doRecommend  16086 non-null  object
 8   reviews.numHelpful   16115 non-null  float64
 9   reviews.rating       28332 non-null  int64
 10  reviews.sourceURLs   28332 non-null  object
 11  reviews.text         28332 non-null  object
 12  reviews.title        28332 non-null  object
 13  reviews.username     28332 non-null  object
 14  sourceURLs           28332 non-null  object
dtypes: float64(1), int64(1), object(13)
memory usage: 3.2+ MB

In [10]:
df.fillna({'reviews.doRecommend': 'Unavailable', 'reviews.numHelpful': 'Unavailable'}, inplace=True)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28332 entries, 0 to 28331
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   name                 28332 non-null  object
 1   asins                28332 non-null  object
 2   categories           28332 non-null  object
 3   primaryCategories    28332 non-null  object
 4   imageURLs            28332 non-null  object
 5   manufacturer         28332 non-null  object
 6   reviews.date         28332 non-null  object
 7   reviews.doRecommend  28332 non-null  object
 8   reviews.numHelpful   28332 non-null  object
 9   reviews.rating       28332 non-null  int64
 10  reviews.sourceURLs   28332 non-null  object
 11  reviews.text         28332 non-null  object
 12  reviews.title        28332 non-null  object
 13  reviews.username     28332 non-null  object
 14  sourceURLs           28332 non-null  object
dtypes: int64(1), object(14)
memory usage: 3.2+ MB

In [16]:
#there are 65 unique products being reviewed
len(df.name.unique())

65

In [47]:
#product IDs must be 65 corr to product names
len(df.asins.unique())

65

In [48]:
#there are 16269 unique reviewers 
len(df['reviews.username'].unique())

16269

In [50]:
#60 unique categories
len(df['categories'].unique())

60

In [17]:
!pip install Faker

Collecting Faker
  Downloading Faker-13.3.2-py3-none-any.whl (1.5 MB)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\ketak\anaconda3\lib\site-packages (from Faker) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\ketak\anaconda3\lib\site-packages (from python-dateutil>=2.4->Faker) (1.15.0)
Installing collected packages: Faker
Successfully installed Faker-13.3.2

WARNING: You are using pip version 20.3.3; however, version 22.0.4 is available.
You should consider upgrading via the 'c:\users\ketak\anaconda3\python.exe -m pip install --upgrade pip' command.

In [4]:
from faker import Faker
fake = Faker()

In [5]:
Faker.seed(0)
location = []
for _ in range(28332):
    location.append(fake.local_latlng())

In [6]:
Faker.seed(0)
for _ in range(5):
    print(fake.longitude())

26.826999
45.792650
-158.265114
-40.995129
94.488524

In [46]:
len(location) == len(df)

True

In [60]:
location[:10]

[('40.72371', '-73.95097', 'Greenpoint', 'US', 'America/New_York'),
 ('41.48199', '-81.79819', 'Lakewood', 'US', 'America/New_York'),
 ('30.17746', '-81.38758', 'Palm Valley', 'US', 'America/New_York'),
 ('41.72059', '-87.70172', 'Evergreen Park', 'US', 'America/Chicago'),
 ('33.93113', '-117.54866', 'Norco', 'US', 'America/Los_Angeles'),
 ('33.03699', '-117.29198', 'Encinitas', 'US', 'America/Los_Angeles'),
 ('41.0051', '-73.78458', 'Scarsdale', 'US', 'America/New_York'),
 ('42.4251', '-71.06616', 'Malden', 'US', 'America/New_York'),
 ('34.09668', '-117.71978', 'Claremont', 'US', 'America/Los_Angeles'),
 ('40.72816', '-74.07764', 'Jersey City', 'US', 'America/New_York')]

In [66]:
location[0][2:]

('Greenpoint', 'US', 'America/New_York')

In [68]:
latitude, longitude, place = [], [], []

In [69]:
for i in range(len(location)):
    latitude.append(location[i][0])
    longitude.append(location[i][1])
    place.append(location[0][2:])

In [70]:
print(len(latitude), len(longitude), len(place))

28332 28332 28332

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28332 entries, 0 to 28331
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   name                 28332 non-null  object
 1   asins                28332 non-null  object
 2   categories           28332 non-null  object
 3   primaryCategories    28332 non-null  object
 4   imageURLs            28332 non-null  object
 5   manufacturer         28332 non-null  object
 6   reviews.date         28332 non-null  object
 7   reviews.doRecommend  28332 non-null  object
 8   reviews.numHelpful   28332 non-null  object
 9   reviews.rating       28332 non-null  int64
 10  reviews.sourceURLs   28332 non-null  object
 11  reviews.text         28332 non-null  object
 12  reviews.title        28332 non-null  object
 13  reviews.username     28332 non-null  object
 14  sourceURLs           28332 non-null  object
 15  latitude             28332 non-null  object
 16  longitude            28332 non-null  object
 17  location             28332 non-null  object
dtypes: int64(1), object(17)
memory usage: 3.9+ MB